:root {
  --color-primary: #002c71;
  --color-secondary: #f2f2f2;
  --color-accent: #00cc66;
  --color-white: #ffffff;
  --color-accent-alt: #ff9900;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-secondary);
}

.title {
  background-color: #002c71;
  width: 100%;
  color: #ff9900;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 10vh;
}

.title button {
  background: none;
  border: none;
  margin: 10px;
  color: #ff9900;
  cursor: pointer;
}

.title button svg{
  fill: #ff9900;
}

.title h1 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}

.dropdown {
  position: absolute;
  top: 10vh;
  left: 0vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
  border-radius: 15px;
  background-color: #002b7156;
  margin-top: 5px;
}


.dropdown ul {
  width: 70%;
}

.dropdown li {
  list-style-type: none;
  background-color: #ff9900;
  margin: 5px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.log {
  height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.log .quote {
  font-size: .3rem;
  margin-bottom: 10%;
  background-color: #002c71;
  border-radius: 20px;
  width: 90%;
  color: #ff9900;
}

.log .quote h1, .log .quote h3 {
  margin: 10px;
}

.log .quote h3 {
  font-size: .4rem;
}

.log div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.log div h2 {
  font-size: 2rem;
}

input {
  margin: 8%;
  width: 20rem;
  height: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

input-text:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 4px var(--color-primary);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  margin: 5%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.log div .button:hover {
  background-color: var(--color-accent-alt);
  scale: 105%;
}

.totals {
  width: 100%;
  height: 20vh;
  background-color: #002c71;
  align-items: start;
  justify-content: center;
  display: flex;
  color: #ff9900;
}

.totals div {
  width: 33%;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin: 5px;
}

.totals div h1 {
  font-size: 1rem;
}

.totals div p {
  color: #00cc66;
}

.editfields {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.editfields div {
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #002c71;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.signin {
  flex-grow: 1;
  width: 100%;
}

.signin h1 {
  color: #ff9900;
  font-size: 4rem;
  margin-bottom: 20%;
}

.signin button {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}


input[type="text"] {
  touch-action: manipulation;
}

.weekcard {
  background-color: #002c71;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  font-size: .8rem;
  height: 75px;
  width: 90vw;
}

.weekcard .holder {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.weekhours, .weektips {
  margin: 10px;
}

.weekcard h1 {
  font-size: 1rem;
}

.weekholder {
  width: 100%;
}

.week {
  height: 25px;
  background-color: #ff9900;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.weekcontainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.version {
  position: absolute;
  font-size: .8rem;
  color: white;
  right: 3vw;
  bottom: 3vw;
}
